<h1>Admin Page</h1>
<p><%= link_to "Blog Management", blogs_path %></p>
<p><%= link_to "User Management", users_path %></p>
<p><%= link_to "Websites Management", websites_path %></p>
<p><%= link_to "Website Images Management", webimages_path %></p>
