<h2 class="header-title">Hi, Welcome to my Web Dev Stuff</h2>
  
  <div class="row-fluid">
    <article id="welcome">
      <% @welcome.each do |welcome| %>
        <%= raw welcome.post %>
      <% end %>
    </article>
  </div>


