<h2 class="header-title">My Awesome Blog of Random Thoughts and Wondrous Information</h2>

<section class="blog-posts">
  <% @posts.each do |post| %>
    <div class="row-fluid">
      <article>
        <h3><%= link_to post.title, "/posts/" + post.id.to_s %></h3>
        <h5><%= post.posted_at.strftime("%B %-d, %Y") %></h5>
        <%= raw truncate(post.post, :length => 250) %>
      <article>
     </div> 
  <% end %>
</section>