<h2 class="header-title">My Awesome Blog of Random Thoughts and Wondrous Information</h2>

<section class="blog-posts">
  <% @posts.each do |post| %>
    <div class="row-fluid">
      <article>
        <h2><%= link_to post.title, post %></h2>
        <%= raw truncate(post.post, :length => 250) %>
      <article>
     </div> 
  <% end %>
</section>