@import "bootstrap";
@import "fancybox";

/* Created by Graham Barnard */
body { font-family: 'Open Sans', sans-serif; background: url(image_path('redox_01_@2X.png')); margin: -8px 8px 8px; }

a, a:hover { text-decoration: none; }

.website {
  width:70%; 
  margin: 0 auto;
  padding: 10px 5%;
  background: white;
  position:relative;
  
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius:0.5em;

  -webkit-box-shadow: 1px 1px 5px #000;
  -mox-box-shadow: 1px 1px 5px #000;
}


header { 

  nav ul { 
    text-align:center;
    list-style:none;
    padding:0;
    border-bottom: solid 1px lightgrey;
    margin: 0;
    padding: 10px;
    
    li {
      display:inline-block;
      a {
        padding:5px;
        color: #333333;
        
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        border-radius:0.5em;
      } 
      
      a.current, a:hover, a:active, a:focus {
        background: #F0F0F0;
        
        -webkit-transition: background-color .2s linear;
        -moz-transition: background-color .2s linear;
        transition: background-color .2s linear;
      }
    }
  }
}

.main {
  .website-image-preview { width:200px; height:auto; }
}

.main > h1 {
  border-bottom: 1px solid lightgrey;
}

.header-title {
  text-align : center;
}

footer {
  margin: 20px 0 10px;
 .copyright { text-align: center; font-size:0.75em; }
}

.hidden {
  display:none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; 
}

.social-navigation { position: absolute; bottom :10px; right:10px; }

.social-network { 
	display:inline-block;   
	background: url(image_path('social-networks.png')) no-repeat top left; 
	width: 32px; 
	height: 32px; 
	background-position-y: -42px; 
	cursor:pointer;
}


.social-network.twitter{ background-position: -1134px -42px}
.social-network.skype{ background-position: -924px -42px}
.social-network.facebook{ background-position: -210px -42px}
.social-network.linkedin{ background-position: -504px -42px}
.social-network.email { background-position: -756px -42px; }

.social-network.twitter:hover,.active .social-network.twitter{ background-position: -1134px 0}
.social-network.skype:hover,.active .social-network.skype{ background-position: -924px 0}
.social-network.facebook:hover,.active .social-network.facebook{ background-position: -210px 0}
.social-network.linkedin:hover,.active .social-network.linkedin{ background-position: -504px 0}
.social-network.email:hover, .active .social-network.email { background-position: -756px 0; }

.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

@media screen and (max-width: 640px) {
  .social-navigation { position:relative; height: 32px; display:block; text-align:right; width:100%; }
}

.siteimage:hover {
  opacity: 0.8;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; 
   
}

.carousel-inner .item  img {
  text-align: center;
  margin:auto;
}

.fancybox-holder {
  max-width: 800px;
  max-height: 500px;
  width: 800px;
  height: 500px;
}

.degree {
  color: gray;
  font-size: 18px;
}