<h2 class="header-title">Sites And Projects</h2>
<div class="row-fluid">
  <% @websites.each_with_index do |website, index| %>
    <% if index % 2 == 0 and index == 0 %>
      </div>
      <div class="row-fluid">
    <% end %>
    
    <div class="span6">
      <article>
        <%= link_to(image_tag(website.imageurl), "/sites/" + website.id.to_s, :class => "fancybox") %>
      </article>
    </div>
  <% end %>
</div>