<h2 class="header-title">Sites And Projects</h2>
<div class="row-fluid">
  <% @websites.each_with_index do |website, index| %>
    <% unless website.webimages.empty? %>
      <% if index % 3 == 0 and index != 0 %>
        </div> 
        <div class="row-fluid">
      <% end %>
      <div class="span4">
        <article>
          <% website.webimages.order(:imageorder).limit(1).each do |webimage| %>
            <%= link_to(image_tag(webimage.url), asset_path(webimage.url), :class => "fancybox") %>
          <% end %>
        </article>
      </div>
    <% end %>
  <% end %>
</div>
  

