<% unless @website.webimages.empty? %>
<section class="fancybox-holder">
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <% @website.webimages.order(:imageorder).each_with_index do |webimage, index| %>
        <div class="item <%= "active" if index == 0 %>">
          <%= image_tag(webimage.url) %>
        </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <% unless @website.webimages.size <= 1 %>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  <% end %>
</section>
<% end %>
